.bg-color{
    background-image: linear-gradient(to right, rgba(8.24%, 8.63%, 10.59%, 1.00) 1000px, rgba(8.24%, 8.63%, 10.59%, 0.84) 100%);
}

.details-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    cursor: pointer;
}

.text-bold{
    font-weight: bold;
}

.imdb-text-color{
    color: #F5C518;  
}

p{
    line-height: 1.2;
}

.text-title-color {
    color:#00e1ff
} 

.bg-rated {
    background-color: gray;
}

@media (max-width: 850px) {
    .details-section{
      flex-direction: column;
  }

  .text-align{
      text-align: center;
  }
  }

  @media screen and (max-width: 1199px) and (min-width: 849px){
        .img-size img{
            margin-right: 30px;

        }
  }